@implements IDisposable
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject NavigationManager NavigationManager
<aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);">
    <a href="index3.html" class="brand-link">
        <img src="AdminLTE/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Students</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="AdminLTE/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                 <AuthorizeView>
                    <Authorized>
                     <a href="#" class="d-block">@context.User.Identity?.Name</a>
                </Authorized>
                </AuthorizeView>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item menu-open">
                    <NavLink href="" Match="NavLinkMatch.All" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </NavLink>
                </li>
                
                <li class="nav-item">
                    <a  class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Academics
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <NavLink href="students-list" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Students
                                </p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="parents-list" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Parents
                                </p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="teachers-list" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Teachers
                                </p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="subjects-list" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Subjects
                                </p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="department-list" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Departments
                                </p>
                            </NavLink>
                        </li>
                    </ul>
                </li>
              
                <li class="nav-item">
                    <a  class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                           Library
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <NavLink href="books-list" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Books
                                </p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="issuancehistory-list" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Issue Book
                                </p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="returnedhistory-list" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Returned Books
                                </p>
                            </NavLink>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Hostels
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <NavLink href="hostels-list" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Hostels List
                                </p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="hostelsrooms-list" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                   Hostel Rooms
                                </p>
                            </NavLink>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a  class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            System Settings
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <NavLink href="grades-list" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Grades
                                </p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="countries-list" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Countries
                                </p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="systemcodes-list" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    System Codes
                                </p>
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink href="systemcodesdetails-list" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    System Code Details
                                </p>
                            </NavLink>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            System Administration
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <NavLink href="users-list" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    System Users
                                </p>
                            </NavLink>
                            <NavLink href="academicyears-list" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Academic Years
                                </p>
                            </NavLink>
                        </li>
                    </ul>
                </li>
                <AuthorizeView>
                    <Authorized>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Account/Manage">
                                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <form action="Account/Logout" method="post">
                                <AntiforgeryToken />
                                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                <button type="submit" class="nav-link">
                                    <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                                </button>
                            </form>
                        </div>
                    </Authorized>
                    <NotAuthorized>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Account/Register">
                                <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="Account/Login">
                                <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                            </NavLink>
                        </div>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </nav>
    </div>
</aside>

@code {

    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
